#workflow-sharing-container .workflow-name {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.workflow-sharing-list {
    margin-top: 20px;
}
.workflow-description {
    margin-top: 10px;
}
.workflow-preview {
    height: 200px; /* the max-height of the workflow-image */
    text-align: center;
}
.workflow-image {
    height: 200px;
    position: relative;
    width: 350px;
}
.workflow-image img {
    max-height: 200px;
    max-width: 350px;
    vertical-align: top;
}
.workflow-download {
    margin-top: 20px;
}
.workflow-downloading-indicator {
    margin-top: 10px;
}
.workflow-entry h2 {
    margin-top: 0;
}
.workflow-sharing-list-container {
    position: relative;
}
.workflow-sharing-list .workflow-entry {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    overflow: hidden;
}
.workflow-sharing-list .disabled .workflow-entry {
    color: #707070;
}
.workflow-sharing-see-more-container {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.workflow-sharing-loading-container {
    display: none;
    margin-top: 20px;
    padding: 5px 0; /* so that it matches the 30px height of the "See more workflows" button */
    text-align: center;
}